@font-face {
	font-family: 'icomoon';
	src: url('css/fonts/icomoon.eot?oflavm');
	src: url('css/fonts/icomoon.eot?oflavm#iefix') format('embedded-opentype'), url('css/fonts/icomoon.ttf?oflavm') format('truetype'), url('css/fonts/icomoon.woff?oflavm') format('woff'), url('css/fonts/icomoon.svg?oflavm#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.jimu-widget-myInfographic .indicator-icon,
.jimu-widget-myInfographic-setting .indicator-icon {

	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;  /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.jimu-widget-myInfographic .loading {
	position: absolute;
	overflow: hidden;
	bottom: 4px;
	right: 0;
	width: 17px;
	height: 17px;
	z-index: 101;
}

.jimu-rtl .jimu-widget-myInfographic .loading {
	left: 2px;
	right: auto;
}

.jimu-widget-myInfographic .loading {
	font-size: 10px;
	text-indent: -9999em;
	border-top: 3px solid rgba(219, 206, 206, 0.7);
	border-right: 3px solid rgba(219, 206, 206, 0.7);
	border-bottom: 3px solid rgba(219, 206, 206, 0.7);
	border-left: 3px solid #ffffff;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
	border-radius: 8px;
}

.jimu-widget-myInfographic .loading:after {
	border-radius: 50%;
	width: 24px;
	height: 24px;
}

.jimu-widget-myInfographic .hide {
	display: none !important;
}

.icon-like:before {
	content: "\e900";
}

.icon-unlike:before {
	content: "\e904";
}

.icon-stop:before {
	content: "\e902";
}

.icon-danger:before {
	content: "\e901";
}

.icon-star:before {
	content: "\e903";
}

.icon-alarm:before {
	content: "\e906";
}

.icon-down:before {
	content: "\e909";
}

.icon-right:before {
	content: "\e90f";
}

.icon-up:before {
	content: "\e911";
}

.icon-wrong:before {
	content: "\e912";
}

/* for text/image dijit */
.lm_goldenlayout .lm_item .lm_content {
	position: relative;
}

.lm_goldenlayout .lm_item .lm_content .table-layout-container {
	display: table;
	table-layout: fixed;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.lm_goldenlayout .lm_item .lm_content .table-layout-container > div {
	padding: 10px 15px;
}

.lm_goldenlayout .lm_item .lm_content .image-node {
	display: table-cell;
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

.lm_goldenlayout .lm_item .lm_content .no-trim {
	white-space: pre-wrap;
}

/** myInfographic-number-dijit  */
.myInfographic-number-dijit {
	display: flex;
	justify-content: center;
	align-items: center;
}

.myInfographic-number-dijit .number-content .value-content {
	white-space: nowrap;
}

.myInfographic-number-dijit a,
.myInfographic-number-dijit a:hover,
.myInfographic-number-dijit a:visited,
.myInfographic-number-dijit a:link,
.myInfographic-number-dijit a:active {
	text-decoration: none;
}

.myInfographic-number-dijit.horizontal-left {
	justify-content: flex-start;
}

.myInfographic-number-dijit.horizontal-center {
	justify-content: center;
}

.myInfographic-number-dijit.horizontal-right {
	justify-content: flex-end;
}

.myInfographic-number-dijit.vertical-top {
	align-items: flex-start;
}

.myInfographic-number-dijit.vertical-middle {
	align-items: center;
}

.myInfographic-number-dijit.vertical-bottom {
	align-items: flex-end;
}

.myInfographic-number-dijit .number-content {
	display: flex;
	justify-content: center;
	max-width: 340px;
}

.myInfographic-number-dijit .number {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.myInfographic-number-dijit .indicator-icon {
	font-size: 22px;
	align-self: center;
	text-align: center;
}

.myInfographic-number-dijit .number .prefix {
	margin-right: 6px;
}

.myInfographic-number-dijit .number .suffix {
	margin-left: 6px;
}

.myInfographic-number-dijit .rightImgDiv {
	width: 35%;
	height: 100%;
	text-align: left;
}

.jimu-widget-myInfographic .myInfographic-number-dijit,
.jimu-widget-myInfographic .myInfographic-chart-dijit,
.jimu-widget-myInfographic .myInfographic-gauge-dijit {
	position: relative;
}

/* overlay */
.myInfographic-chart-dijit .over-lay.hide {
	display: none !important;
}

.myInfographic-chart-dijit .over-lay {
	display: block;
	z-index: 99;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
}

/* no data tip */
.myInfographic-number-dijit .no-data-tip,
.myInfographic-chart-dijit .no-data-tip,
.myInfographic-gauge-dijit .no-data-tip {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	height: 30px;
	top: calc(50% - 10px);
	text-align: center;
	color: #666;
}

.myInfographic-number-dijit.no-data .no-data-tip,
.myInfographic-chart-dijit.no-data .no-data-tip,
.myInfographic-gauge-dijit.no-data .no-data-tip {
	display: block;
	margin: 0 10px;
}

.myInfographic-number-dijit.no-data .chart-dom,
.myInfographic-chart-dijit.no-data .chart-dom,
.myInfographic-gauge-dijit.no-data .gauge-dom {
	visibility: hidden;
}

.myInfographic-number-dijit .chart-dom,
.myInfographic-chart-dijit .chart-dom,
.myInfographic-gauge-dijit .gauge-dom {
	visibility: visible;
	width: 100%;
	height: 100%;
}

/* .myInfographic-chart-dijit */
.myInfographic-chart-dijit {
	display: flex;
}

.myInfographic-chart-dijit .y-axis-name {
	width: 30px;
	height: 100%;
	flex: 0 1 auto;
	justify-content: center;
	align-items: center;
	display: flex;
	white-space: nowrap;
	font-family: sans-serif;
	font-size: 12px;
}

.myInfographic-chart-dijit .y-axis-name.rotate {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.myInfographic-chart-dijit .chart-dijit {
	width: calc(100% - 30px);
	height: 100%;
	flex: 1 1 auto;
}
