<div style="width: 100%;height: 100%;">
	<div data-dojo-attach-point="shelter" class="loading hide"></div>
	<div data-dojo-attach-point="virtualFocusNode" class="lastFocusNode screen-readers-only" tabindex="0"></div>
</div>