@import url("../../common.css");

.jimu-widget-myInfographic-setting {
  margin: 0;
  padding: 0;
  font-size: 14px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.jimu-widget-myInfographic-setting .small-loading {
  font-size: 10px;
  text-indent: -9999em;
  border-top: 3px solid rgba(219, 206, 206, 0.7);
  border-right: 3px solid rgba(219, 206, 206, 0.7);
  border-bottom: 3px solid rgba(219, 206, 206, 0.7);
  border-left: 3px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.jimu-widget-myInfographic-setting .small-loading:after {
  border-radius: 50%;
  width: 24px;
  height: 24px;
}

.jimu-widget-myInfographic-setting .error-icon {
  background: no-repeat center left url(./images/error.svg);
}

.jimu-widget-myInfographic-setting .dijitSelect {
  background-color: #FFFFFF;
}

.jimu-widget-myInfographic-setting .dijitSelect .dijitArrowButton {
  background-color: #FFFFFF;
}

.jimu-widget-myInfographic-setting .widget-setting-header {
  flex: 0 0 15.33%;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jimu-widget-myInfographic-setting .widget-setting-body {
  flex: 1 1 84.67%;
  min-height: 437px;
  margin-top: 20px;
}

.jimu-widget-myInfographic-setting .flex-lc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.jimu-widget-myInfographic-setting .flex-keep-auto {
  flex: 0 0 auto;
}

.jimu-widget-myInfographic-setting .text-label {
  height: 20px;
}

.jimu-widget-myInfographic-setting  .flexStart {
  align-items: flex-start !important;
}

.jimu-widget-myInfographic-setting .lr-flex {
  display: flex;
  align-items: center;
}

.jimu-widget-myInfographic-setting .filter-extent-selection .flex-keep-width {
  flex: 0 0 auto;
}

.jimu-widget-myInfographic-setting .filter-extent-selection {
  height: 20px;
}

.jimu-widget-myInfographic-setting .filter-extent-selection .filter-disable-tip-text {
  font-size: 12px;
  color: #999;
  flex: 0 1 auto;
}

.jimu-widget-myInfographic-setting .filter-extent-selection label {
  white-space: nowrap;
}

.jimu-rtl .jimu-widget-myInfographic-setting .jimu-leading-margin05 {
  margin-right: 0.5em;
  margin-left: 0;
}

.jimu-widget-myInfographic-setting .setting-title {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.39px;
}

.jimu-widget-myInfographic-setting .setting-tab {
  margin-top: 10px;
  max-height: 395px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .setting-tab {
  padding-left: 10px;
  padding-right: 0;
}

/*.jimu-widget-myInfographic-setting .jimu-tab3 .control-table {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/
.jimu-widget-myInfographic-setting .hide {
  display: none !important;
}

.jimu-widget-myInfographic-setting .inline-block {
  display: inline-block;
}

.jimu-widget-myInfographic-setting .marginTop10 {
  margin-top: 10px;
}

.jimu-widget-myInfographic-setting .marginTop20 {
  margin-top: 20px;
}

.jimu-widget-myInfographic-setting .marginTop15 {
  margin-top: 15px;
}

.jimu-widget-myInfographic-setting .marginRight10 {
  margin-right: 10px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .marginRight10 {
  margin-left: 10px;
  margin-right: 0;
}

.jimu-widget-myInfographic-setting .marginleft10 {
  margin-left: 10px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .marginleft10 {
  margin-right: 10px;
  margin-left: 0;
}

.jimu-widget-myInfographic-setting .paddingRight10 {
  padding-right: 10px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .paddingRight10 {
  padding-left: 10px;
  padding-right: 0;
}

.jimu-widget-myInfographic-setting .label-position {
  margin: 5px auto;
  max-width: 160px;
}

.jimu-widget-myInfographic-setting  .textOverFlow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-widget-myInfographic-setting .text-left-center {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.jimu-widget-myInfographic-setting .urlTextBox {
  width: 100%;
  margin-left: 10px;
}

.jimu-widget-myInfographic-setting .settings {
  background: no-repeat center center url(./images/setting_default.png);
  width: 26px;
  height: 26px;
  margin: 3px 20px;
}

.jimu-widget-myInfographic-setting .jimu-viewstack > .view {
  font-size: 12px;
}

.jimu-widget-myInfographic-setting .myInfographic-toggle-pocket .toggle-header .title {
  font-size: 12px;
}

/** data-source */
.jimu-widget-myInfographic-setting .data-source {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;  /*margin: 10px 0;*/
}

.jimu-widget-myInfographic-setting .tip {
  height: 20px;
  white-space: nowrap;
}

.jimu-widget-myInfographic-setting .data-source > .url {
  flex: auto;
}

.jimu-widget-myInfographic-setting .data-source > .jimu-icon {
  flex: none;
}

/** temolate-chooser */
.jimu-widget-myInfographic-setting-template-popup {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.jimu-widget-myInfographic-setting-template-popup .chooser-container {
  overflow-x: hidden;
  overflow-y: auto;
  flex-grow: 1;
  flex-shrink: 1;
  margin-bottom: 10px;
}

.jimu-widget-myInfographic-setting-template-popup .chooser-container .template-tr {
  display: flex;
  justify-content: flex-start;
  margin: 10px auto;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv {
  margin: auto 15px;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv {
  width: 120px;
  height: 100px;
  cursor: pointer;
  position: relative;
  outline: 1px solid #CCCCCC;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.number {
  background: no-repeat center center url(./images/templates/number.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.gauge {
  background: no-repeat center center url(./images/templates/gauge.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.vertical_gauge {
  background: no-repeat center center url(./images/templates/vertical_gauge.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.horizontal_gauge {
  background: no-repeat center center url(./images/templates/horizontal_gauge.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.pie {
  background: no-repeat center center url(./images/templates/pie.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.donut {
  background: no-repeat center center url(./images/templates/donuts.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.bar {
  background: no-repeat center center url(./images/templates/bar.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.stacked_bar {
  background: no-repeat center center url(./images/templates/stacked_bar.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.percentage_stacked_bar {
  background: no-repeat center center url(./images/templates/percentage_stacked_bar.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.column {
  background: no-repeat center center url(./images/templates/column.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.stacked_column {
  background: no-repeat center center url(./images/templates/stacked_column.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.percentage_stacked_column {
  background: no-repeat center center url(./images/templates/percentage_stacked_column.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.line {
  background: no-repeat center center url(./images/templates/line.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.area {
  background: no-repeat center center url(./images/templates/area.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.stacked_area {
  background: no-repeat center center url(./images/templates/stacked_area.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.percentage_stacked_area {
  background: no-repeat center center url(./images/templates/percentage_stacked_area.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .labelDiv {
  margin-top: 10px;
  width: 100%;
  font-size: 12px;
  height: 30px;
  text-align: center;
  max-width: 120px;  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv .select-icon {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 18px;
  height: 18px;
  background: center center no-repeat url(images/Selected.svg);
  display: none;
  background-size: contain;
}

.jimu-rtl .jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv .select-icon {
  left: 0;
  right: 5px;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.selected {
  outline: 2px solid #51B4CD;
}

.jimu-widget-myInfographic-setting-template-popup .tempDiv .imgDiv.selected .select-icon {
  display: block;
}

.jimu-widget-myInfographic-setting-template-popup .footer {
  width: 100%;
  height: 36px;
  flex-grow: 0;
  flex-shrink: 0;
}

.jimu-widget-myInfographic-setting .body-section {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.jimu-widget-myInfographic-setting .body-section .mid-line {
  background: #E9E9E9;
  flex: 0 0 1px;
}

/** setting frame */
.jimu-widget-myInfographic-setting .setting-section {
  height: auto;
  display: flex;
  flex: 1 1 479.5px;
}

.jimu-widget-myInfographic-setting .indicatorsTitlePane {
  max-height: 382px;
  overflow: hidden;
}

.jimu-widget-myInfographic-setting .setting-section .infohraphic-setting-tab-container {
  max-height: 455px;
}

.jimu-widget-myInfographic-setting .setting-section .infohraphic-setting-tab-container .number-setting-display {
  height: 366px;
  overflow-x: hidden;
  overflow-y: auto;
}

.jimu-widget-myInfographic-setting .setting-section .settingContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px 0 39.5px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .setting-section .settingContainer {
  padding: 0 39.5px 0 30px;
}

.jimu-widget-myInfographic-setting .setting-section .settingContent {
  height: auto;
  width: 100%;
}

/* preview section*/
.jimu-widget-myInfographic-setting .preview-section {
  height: auto;
  flex: 1 1 479.5px;
}

.jimu-widget-myInfographic-setting .preview-container {
  height: 100%;
  width: 100%;
  margin: 0 49.5px 0 40px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .preview-container {
  margin: 0 40px 0 49.5px;
}

.jimu-widget-myInfographic-setting .preview-container .visual-controller-container {
  height: 40px;
  width: 360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jimu-widget-myInfographic-setting .preview-section  .visual-controller {
  width: 50px;
  height: 40px;
  border: 1px solid #C1C1C1;
  cursor: pointer;
}

.jimu-widget-myInfographic-setting .preview-section  .visual-controller-selected {
  border: 1px solid #40B0C0;
}

.ie-gte-10 .jimu-widget-myInfographic-setting .preview-container .visual-controller-container .layout-reset {
  width: 39.2px;
  height: 39.2px;
}

.jimu-widget-myInfographic-setting .preview-container .visual-controller-container .layout-reset {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: center center no-repeat url('images/reset-layout.svg');
  background-size: contain;
}

.jimu-widget-myInfographic-setting .preview-container .visual-controller-container .layout-reset:hover {
  background: center center no-repeat url('images/reset-layout-hover.svg');
  background-size: contain;
}

.jimu-widget-myInfographic-setting .preview-section .visual-controller-component {
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.jimu-widget-myInfographic-setting .preview-section .visual-controller-component .controller-selected {
  width: 16px;
  height: 16px;
  margin: 3px 0 0 3px;
  background-size: contain;
  background: center center no-repeat url(images/Selected.svg);
}

.jimu-rtl .jimu-widget-myInfographic-setting .preview-section .visual-controller-component .controller-selected {
  margin: 3px 3px 0 auto;
}

.jimu-widget-myInfographic-setting .preview-section  .visual-controller.text-controller {
  background: no-repeat center center url(./images/text-format.svg);
}

.jimu-widget-myInfographic-setting .preview-section  .visual-controller.image-controller {
  background: no-repeat center center url(./images/imge-icon.svg);
}

.jimu-widget-myInfographic-setting .preview-section  .visual-controller.number-controller {
  background: no-repeat center center url(./images/plus-one.svg);
}

.jimu-widget-myInfographic-setting .preview-section  .visual-controller.gauge-controller {
  background: no-repeat center center url(./images/gauge-icon.svg);
}

.jimu-widget-myInfographic-setting .preview-section  .visual-controller.chart-controller {
  background: no-repeat center center url(./images/drive-fusiontable.svg);
}

.jimu-widget-myInfographic-setting .settingTip {
  width: 100%;
  height: auto;
}

.jimu-widget-myInfographic-setting  .settingTip .settingTip-title {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.39px;
}

.jimu-widget-myInfographic-setting  .settingTip .settingTip-text {
  font-style: italic;
  font-size: 12px;
  color: #282828;
  letter-spacing: 0.33px;
  max-width: 400px;
}

.jimu-widget-myInfographic-setting .preview-section .change-template-box {
  margin-top: 30px;
  width: 150px;
  height: 30px;
}

.jimu-widget-myInfographic-setting .preview-section .change-template-style {
  border: 1px solid #CCCCCC;
  font-size: 14px;
  color: #4A4A4A;
  background: #FFFFFF;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}

.jimu-widget-myInfographic-setting .preview-section .change-template-style:hover {
  background: #EFEFEF;
}

.jimu-widget-myInfographic-setting .preview-section .card-container {
  width: 360px;
  height: 308px;
  background: #FFFFFF;
  box-shadow: 0 0 6px 2px rgba(213, 212, 212, 0.50);
  position: relative;
  margin-top: 20px;
}

.jimu-widget-myInfographic-setting .preview-section .card-content {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}

/* number dijit setting */
.jimu-widget-myInfographic-setting .myInfographic-number-dijit-setting .dijitSelect .dijitButtonContents {
  border-style: none;
}

.jimu-widget-myInfographic-setting .myInfographic-number-dijit-setting .dijitSelectFocused .dijitArrowButton {
  background-color: #FFFFFF;
  background-image: none;
}

/* gauge dijit setting */
.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .dijitSelect .dijitButtonContents {
  border-style: none;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .dijitSelectFocused .dijitArrowButton {
  background-color: #FFFFFF;
  background-image: none;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .value-container,
.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .min-container {
  margin-bottom: 20px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .margin-top-11 {
  margin-top: 11px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex {
  display: flex;
  justify-content: space-between;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex .data-range-value.dijitTextBoxHover,
.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex .data-range-value.dijitValidationTextBoxHover,
.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex .data-range-value.dijitHover {
  background: transparent;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex .dijitInputField,
.myInfographic-setting-single-indicator .tr .dijitInputField {
  display: flex;
  align-items: center;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex .dijitInputInner,
.myInfographic-setting-single-indicator .tr .dijitInputInner {
  font-size: 12px;
  height: 28px;
  line-height: 28px !important;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex-start {
  display: flex;
  justify-content: flex-start;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .justify-content-sb {
  justify-content: space-between;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .align-items-center {
  align-items: center;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .font-style {
  font-size: 12px;
  color: #282828;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .style-selector .setting-wapper {
  width: 200px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .text-size .text-size-group>table {
  width: 110px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .dijitSliderButtonContainerH {
  padding: 0;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex-leave1 label {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex-leave2-left {
  max-width: 160px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex-leave2-right {
  width: 200px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex-leave3-left {
  width: 60px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .flex-leave3-right {
  width: 120px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .data-range-value {
  width: 120px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .label {
  margin: 6px auto
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .labelDiv {
  overflow: hidden;
  margin: 10px 10px auto auto;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .left-right-setting-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .top-bottom-setting-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .toggle {
  width: 33px;
  height: 18px;
  cursor: pointer;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .toggle.toggle-on {
  background: no-repeat center left url(./images/toggle_on_builder.svg);
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .toggle.toggle-off {
  background: no-repeat center left url(./images/toggle_off_builder.svg);
}

.jimu-rtl .jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .toggle.toggle-on {
  background: no-repeat center right url(./images/toggle_on_builder.svg);
}

.jimu-rtl .jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .toggle.toggle-off {
  background: no-repeat center right url(./images/toggle_off_builder.svg);
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .color-picker-position {
  margin-right: 100px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .color-picker-position {
  margin-left: 100px;
  margin-right: 0;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .jimu-color-picker.jimu-color-pickerPopup {
  width: 30px;
  height: 20px;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .display-container {
  height: 366px;
  overflow: auto;
}

.jimu-widget-myInfographic-setting .myInfographic-gauge-dijit-setting .display-in .ratio-true-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 100px;
}

/* myInfographic-toggle-pocket */
.myInfographic-toggle-pocket {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.myInfographic-toggle-pocket .toggle-header {
  width: 100%;
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
}

.myInfographic-toggle-pocket .toggle-header .title {
  font-size: 14px;
  color: #282828;
  white-space: nowrap;
}

.myInfographic-toggle-pocket .toggle-header .toggle {
  width: 33px;
  height: 18px;
  cursor: pointer;
}

.myInfographic-toggle-pocket .toggle-header .toggle.toggle-on {
  background: no-repeat center center url(./images/toggle_on_builder.svg);
}

.myInfographic-toggle-pocket .toggle-header .toggle.toggle-off {
  background: no-repeat center center url(./images/toggle_off_builder.svg);
  position: relative;
}

.myInfographic-toggle-pocket .horizontal-line {
  background: #EAEAEA;
  width: 100%;
  height: 1px;
}

.myInfographic-toggle-pocket .pocket {
  width: 100%;
  margin-top: 10px;
}

/** Icon Chooser */
.myInfographic-setting-number-icon-chooser-panel {
  width: 340px;
  height: 240px;
}

.myInfographic-setting-number-icon-chooser-panel .margin-top-10 {
  margin-top: 10px;
}

.myInfographic-setting-number-icon-chooser-panel .title {
  font-size: 18px;
  color: #000000;
}

.myInfographic-setting-number-icon-chooser-panel .title-box {
  margin: 14px 0 0 20px;
}

.jimu-rtl .myInfographic-setting-number-icon-chooser-panel .title-box {
  margin: 14px 20px 0 0;
}

.myInfographic-setting-number-icon-chooser-panel .marginLeft30 {
  margin-left: 30px;
}

.jimu-rtl .myInfographic-setting-number-icon-chooser-panel .marginLeft30 {
  margin-right: 30px;
  margin-left: 0;
}

.myInfographic-setting-number-icon-chooser-panel .flex-Ttb {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.myInfographic-setting-number-icon-chooser-panel .left-div {
  width: 80px;
  font-size: 14px;
  color: #000000;
}

.myInfographic-setting-number-icon-chooser-panel .right-div {
  width: 200px;
  display: flex;
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .style-label {
  height: 77px;
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .style-content {
  height: 36px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .style-container {
  height: 77px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myInfographic-setting-number-icon-chooser-panel .label-div {
  width: 60px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myInfographic-setting-number-icon-chooser-panel .placement {
  display: flex;
}

.myInfographic-setting-number-icon-chooser-panel .placement-label {
  height: 24px;
  padding: 5px 0;
}

.myInfographic-setting-number-icon-chooser-panel .color-label {
  height: 30px;
  padding: 6px 0;
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv {
  width: 36px;
  height: 36px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  font-size: 15px;
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-up-svg {
  background: center center no-repeat url(images/icon-style/icon-up.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-down-svg {
  background: center center no-repeat url(images/icon-style/icon-down.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-stop-svg {
  background: center center no-repeat url(images/icon-style/icon-stop.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-star-svg {
  background: center center no-repeat url(images/icon-style/icon-star.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-danger-svg {
  background: center center no-repeat url(images/icon-style/icon-danger.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-alarm-svg {
  background: center center no-repeat url(images/icon-style/icon-alarm.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-right-svg {
  background: center center no-repeat url(images/icon-style/icon-right.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-wrong-svg {
  background: center center no-repeat url(images/icon-style/icon-wrong.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-like-svg {
  background: center center no-repeat url(images/icon-style/icon-like.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.icon-unlike-svg {
  background: center center no-repeat url(images/icon-style/icon-unlike.svg);
}

.myInfographic-setting-number-icon-chooser-panel .styleDiv .iconDiv.iconSelected {
  border: 1px solid #24B5CC;
}

.myInfographic-setting-number-icon-chooser-panel .placeDiv {
  width: 67.1px;
  height: 24px;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  font-size: 12px;
  color: #000000;
}

.myInfographic-setting-number-icon-chooser-panel .placeDiv.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.myInfographic-setting-number-icon-chooser-panel .placeDiv.placeSelected {
  background-color: #49B4CB;
  color: #FFFFFF;
}

.myInfographic-setting-number-icon-chooser-panel .placeDiv.mergeBorder {
  margin-left: -1px;
}

/* myInfographic-setting-number-icon-chooser-popup */
.myInfographic-setting-number-icon-chooser-popup {
  width: 60px;
  height: 20px;
  display: flex;
  cursor: pointer;
}

.myInfographic-setting-number-icon-chooser-popup .border-merge {
  margin-left: -1px;
}

.jimu-rtl .myInfographic-setting-number-icon-chooser-popup .border-merge {
  margin-right: -1px;
  margin-left: 0;
}

.myInfographic-setting-number-icon-chooser-popup .drop-down-arrow {
  width: 30px;
  height: 20px;
  background: center center no-repeat url('images/arrow-drop-down.svg');
  border: 1px solid #D7D7D7;
}

.myInfographic-setting-number-icon-chooser-popup .iconPreview {
  border: 1px solid #D7D7D7;
  width: 30px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myInfographic-setting-number-icon-chooser-popup-dialog .dijitTooltipContainer {
  overflow: hidden;
  background: #fff !important;
  border-radius: 0;
  border-style: none;
  box-shadow: 0 0 12px 0 #9A9A9A;
  padding: 0;
  border: none;
}

.myInfographic-setting-number-icon-chooser-popup-dialog .dijitTooltipContainer .dijitTooltipFocusNode {
  padding: 0;
}

.myInfographic-setting-number-icon-chooser-popup-dialog .dijitTooltipContainer .dijitTooltipFocusNode .colorPicker {
  width: 36px;
  height: 30px;
}

.myInfographic-setting-number-icon-chooser-popup-dialog .dijitTooltipContainer .dijitTooltipFocusNode .colorPicker .jimu-color-picker {
  width: 34px;
  height: 28px;
}

.myInfographic-setting-number-icon-chooser-popup-dialog .dijitTooltipConnector {
  display: none;
}

/** indocators */
.jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .marginleft10 {
  margin-left: 10px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .marginleft10 {
  margin-right: 10px;
  margin-left: 0;
}

/* top */
.myInfographic-setting-multiple-indicators .top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 20px;
}

.myInfographic-setting-multiple-indicators .top .top-mid-block {
  width: 10px;
  height: 20px;
  cursor: pointer;
}

.myInfographic-setting-multiple-indicators .top .icon-add-indicator {
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-size: contain;
  background: no-repeat center center url(./images/add-icon-deactive.svg);
}

.myInfographic-setting-multiple-indicators .top .icon-add-indicator.active {
  background: no-repeat center center url(./images/add-icon-active.svg);
}

.myInfographic-setting-multiple-indicators .top .text-add-indicator {
  font-style: italic;
  font-size: 12px;
  color: #282828;
  cursor: pointer;
}

.myInfographic-setting-multiple-indicators .top .text-add-indicator.active {
  color: #24b5cc;
}

.jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .indicatorDiv {
  padding: 2px 5px 2px 0;
}

.jimu-rtl .jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .indicatorDiv {
  padding: 2px 0 2px 5px;
}

.jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .indicatorDiv {
  width: 100%;
  max-height: 347px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .icon-add-indicator {
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .add-icon-active {
  background: no-repeat center center url(./images/add-icon-active.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .add-icon-deactive {
  background: no-repeat center center url(./images/add-icon-deactive.svg);
  background-size: contain;
}

.jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .add-indicator-tip-active {
  color: #24B5CC;
}

.jimu-widget-myInfographic-setting .myInfographic-setting-multiple-indicators .add-indicator-tip-deactive {
  color: #282828;
}

/** indicator */
.myInfographic-setting-single-indicator {
  width: 99%;
}

.myInfographic-setting-single-indicator.sortable-chosen {
  box-shadow: 0 0 1px 1px rgba(213, 212, 212, 0.50);
}

.myInfographic-setting-single-indicator .header {
  width: 100%;
  height: 16px;
  cursor: move;
}

.myInfographic-setting-single-indicator .header:hover {
  cursor: move;
}

.myInfographic-setting-single-indicator .compareContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myInfographic-setting-single-indicator .tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

/* Overlap*/
.myInfographic-setting-single-indicator .tr .dijitTextBoxHover,
.myInfographic-setting-single-indicator .tr .dijitVaildationTextBoxHover,
.myInfographic-setting-single-indicator .tr .dijitHover {
  background: transparent;
}

.myInfographic-setting-single-indicator .tr .flex-in-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}

.myInfographic-setting-single-indicator .tr .flex-in-left.then-text {
  width: 249px;
}

.myInfographic-setting-single-indicator .tr .flex-in-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 171px;
}

.myInfographic-setting-single-indicator .flex-in-right .flex-in-right-left-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 143px;
}

.myInfographic-setting-single-indicator .tr .flex-in-right.then-text {
  width: 122px;
}

.myInfographic-setting-single-indicator .flex-in-right .flex-in-right-left-div.then-text {
  width: 94px;
}

.myInfographic-setting-single-indicator .flex-in-right .close {
  background-image: url('images/close.svg');
}

.myInfographic-setting-single-indicator .flex-in-right .close-div {
  cursor: pointer;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
}

.myInfographic-setting-single-indicator .flex-in-right .close:hover {
  background-image: url('images/close-mouseover.svg');
}

.myInfographic-setting-single-indicator .disable {
  color: #BCBCBC !important;
}

.myInfographic-setting-single-indicator .value-state,
.myInfographic-setting-single-indicator .gauge-state,
.myInfographic-setting-single-indicator .icon-state {
  width: 12px;
  height: 12px;
  background-size: contain;
  cursor: pointer;
}

.myInfographic-setting-single-indicator .deactivated {
  background: center center no-repeat url('images/indicator-off.svg');
}

.myInfographic-setting-single-indicator .activated {
  background: center center no-repeat url('images/indicator-on.svg');
}

.myInfographic-setting-single-indicator .tr .then-tip {
  font-size: 12px;
  color: #282828;
  width: 192px;
}

.myInfographic-setting-single-indicator .labelTip {
  width: 43px;
  font-size: 12px;
  color: #282828;
}

.myInfographic-setting-single-indicator .label {
  margin: 7px auto;
}

.myInfographic-setting-single-indicator .compareDiv {
  width: 143px;
}

.myInfographic-setting-single-indicator .compareDiv .dijitSelect span {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}

.myInfographic-setting-single-indicator .compareContainer {
  width: 143px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myInfographic-setting-single-indicator .compareContainer span {
  font-size: 12px;
  color: #727272;
  max-width: 25px;
}

.myInfographic-setting-single-indicator .longValue {
  width: 143px;
}

.myInfographic-setting-single-indicator .shortValue {
  width: 50px;
}

.myInfographic-setting-single-indicator .ratio-div {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}

.myInfographic-setting-single-indicator .ratio-div:hover {
  cursor: move;
}

.myInfographic-setting-single-indicator .ratio-div .ratio-in-div {
  display: flex;
  justify-content: flex-start;
}

.myInfographic-setting-single-indicator .ratio-div label {
  font-size: 12px;
  color: #4B4B4B;
}

.myInfographic-setting-single-indicator .indicator-option:hover {
  cursor: move;
}

.myInfographic-setting-single-indicator .jimu-color-picker.jimu-color-pickerPopup {
  width: 60px !important;
  height: 20px !important;
}

.myInfographic-setting-single-indicator .color-piker-btn {
  margin: 5px 5px 0px 5px
}

.myInfographic-setting-single-indicator .indicator-bottom-line {
  height: 1px;
  background: #EAEAEA;
  margin-top: 15px;
}

.myInfographic-setting-single-indicator .indicator-bottom-line:hover {
  cursor: move;
}

/** style selector */
.jimu-widget-myInfographic-setting .style-selector .clearFix {
  *overflow: hidden;
  *zoom: 1
}

.jimu-widget-myInfographic-setting .style-selector .clearFix:after {
  display: table;
  content: "";
  width: 0;
  clear: both
}

.jimu-widget-myInfographic-setting .style-selector .hide {
  display: none
}

.jimu-widget-myInfographic-setting .settings-container {
}

.jimu-widget-myInfographic-setting .settings-container .title {
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.39px;
  margin-bottom: 20px;
}

.jimu-widget-myInfographic-setting .settings-container .label {
  font-size: 12px;
  color: #282828;
  letter-spacing: 0.33px;
  line-height: 30px;
}

/*
.jimu-widget-myInfographic-setting .style-selector {
}*/
.jimu-widget-myInfographic-setting .style-selector .label {
  margin: 0 0;
  max-width: 160px;
  line-height: 30px;
  font-size: 12px;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-widget-myInfographic-setting .style-selector .dijitTextBox,
.jimu-widget-myInfographic-setting .style-selector .dijitSelect {
  width: 100%;
  height: 30px;
  border: 1px solid #D7D7D7;
}

.jimu-widget-myInfographic-setting .style-selector .jimu-color-picker {
  width: 40px !important;
  height: 30px !important;
  border: 1px solid #D7D7D7 !important;
}

.jimu-widget-myInfographic-setting .style-selector .dijitSelect .dijitArrowButtonContainer {
  border: none;
}

.jimu-widget-myInfographic-setting .style-selector .dijitDownArrowButton .dijitButtonContents,
.jimu-widget-myInfographic-setting .style-selector .dijitComboBox .dijitDownArrowButton {
  border: none;
}

.jimu-widget-myInfographic-setting .style-selector .dijitTextBox .dijitInputInner {
  padding: 1px 0 0 0 !important;
  font-size: 12px;
  font-style: normal !important;
  height: 28px;
  line-height: 28px !important;
}

.jimu-widget-myInfographic-setting .style-selector .dijitSelectLabel {
  font-size: 12px;
}

.jimu-widget-myInfographic-setting .style-selector .dijitSelect,
.jimu-widget-myInfographic-setting .style-selector .dijitSelect .dijitButtonContents,
.jimu-widget-myInfographic-setting .style-selector .dijitTextBox,
.jimu-widget-myInfographic-setting .style-selector .dijitTextBox .dijitButtonNode {
  background-color: transparent;
}

.jimu-widget-myInfographic-setting .style-selector .dijitSelect .dijitArrowButton {
  background-color: transparent;
}

.jimu-widget-myInfographic-setting .style-selector .dijitSelect .dijitInputField {
  padding: 0px 10px;
}

.jimu-widget-myInfographic-setting .style-selector .jimu-image-chooser {
  width: 100%;
  height: 28px;
}

.jimu-widget-myInfographic-setting .setting-items.field-statistics-wapper {
  margin-top: -10px !important;
}

.jimu-widget-myInfographic-setting .setting-items .data-formats {
  line-height: 30px;
  font-size: 12px;
}

.jimu-widget-myInfographic-setting .setting-items .data-formats>label {
  padding: 0 6px;
}

.jimu-widget-myInfographic-setting .jimu-image-chooser .display-text {
  width: 100%;  /*height: 20px;*/

  /*line-height: 20px;*/
  font-size: 12px;
  color: #4A4A4A;
  letter-spacing: 0.33px;
  background-color: #FFF;
  text-align: center;
}

.jimu-image-chooser:hover .hint .display-text {
  color: #FFF;
}

.jimu-widget-myInfographic-setting .dijitTextBoxFocused {
  border: 1px solid #D7D7D7 !important;
  box-shadow: 0 0 0 0 !important;
}

.jimu-widget-myInfographic-setting .dijitTextBox .dijitInputField {
  padding: 0px 10px;
}

.jimu-widget-myInfographic-setting .dijitSelectFocused .dijitArrowButton .dijitArrowButtonInner {
  background-position: -35px 53%;
}

.jimu-widget-myInfographic-setting .text-size .text-size-group>.dijitComboBox.dijitValidationTextBox {
  width: 80px;
}

.jimu-widget-myInfographic-setting .text-size .text-size-group>table {
  width: 140px;
}

.jimu-widget-myInfographic-setting .dijitSlider {
  margin-left: 10px;
  margin-right: auto;
  margin-top: 14px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .dijitSlider {
  margin-left: auto;
  margin-right: 10px;
}

.jimu-widget-myInfographic-setting .dijitSlider .dijitSliderImageHandleH {
  top: -10px;
  width: 20px;
  height: 20px;
}

.jimu-widget-myInfographic-setting .dijitSliderImageHandle.dijitSliderImageHandleH {
  background-image: url("images/sliderball.svg");
  background-position: 0 0;
}

.jimu-widget-myInfographic-setting .dijitSliderImageHandle.dijitSliderImageHandleH.dojoMoveItem {
  background-image: url("images/sliderball_hold.svg");
  background-position: 0 0;
}

.jimu-widget-myInfographic-setting .tabs .dijitSliderThumbHover {
  background-image: url("images/sliderball_hover.png");
  background-position: 0 0;
}

.jimu-widget-myInfographic-setting .dijitSliderFocused .dijitSliderRemainingBarH,
.jimu-widget-myInfographic-setting .dijitSliderFocused .dijitSliderRightBumper {
  box-shadow: 0 0 0 0 transparent;
}

.jimu-widget-myInfographic-setting .dijitSlider .dijitSliderProgressBarH,
.jimu-widget-myInfographic-setting .dijitSlider .dijitSliderLeftBumper {
  border-color: #24b5cc;
  background-color: #24b5cc;
  background-image: -webkit-linear-gradient(top, #24b5cc 0px, #24b5cc 1px, rgba(0, 0, 0, 0) 0px);
  background-image: -o-linear-gradient(top, #24b5cc 0px, #24b5cc 1px, rgba(0, 0, 0, 0) 0px);
  background-image: linear-gradient(top, #24b5cc 0px, #24b5cc 1px, rgba(0, 0, 0, 0) 0px);
  box-shadow: 0 0 0 0 transparent;
}

.jimu-widget-myInfographic-setting .dijitSlider .dijitSliderLeftBumper,
.jimu-rtl .jimu-widget-myInfographic-setting .dijitSlider .dijitSliderRightBumper {
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.jimu-widget-myInfographic-setting .dijitSlider .dijitSliderRightBumper,
.jimu-rtl .jimu-widget-myInfographic-setting .dijitSlider .dijitSliderLeftBumper {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}

.jimu-widget-myInfographic-setting .dijitSlider .dijitSliderRemainingBarH,
.jimu-widget-myInfographic-setting .dijitSlider .dijitSliderRightBumper {
  border-color: #d7d7d7;
  background-color: #d7d7d7;
}

.jimu-widget-myInfographic-setting .style-selector .setting-items {
  height: 30px;
  width: 100%;
  margin: 10px 0;
  vertical-align: middle;
  white-space: nowrap;
}

/*.jimu-rtl .jimu-widget-myInfographic-setting .style-selector .setting-items {
overflow: hidden;
}*/
.jimu-widget-myInfographic-setting .style-selector .setting-wapper {
  width: 230px;
}

.jimu-widget-myInfographic-setting .style-selector .background-btn,
.jimu-widget-myInfographic-setting .style-selector .text-color-btn {
  width: 40px;
  height: 30px;  /*border: 1px solid #D7D7D7;*/
  overflow: hidden;
}

.jimu-widget-myInfographic-setting .style-selector .align-group {
  margin-right: 8px;
  margin-left: -3px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .style-selector .align-group {
  margin-right: -3px;
  margin-left: 8px;
}

.jimu-widget-myInfographic-setting .style-selector .font-group-btns {
  margin-left: 6px;
  margin-right: 6px;
}

.jimu-widget-myInfographic-setting .style-selector .align-btn,
.jimu-widget-myInfographic-setting .style-selector .font-btn {
  height: 30px;
  margin: 0 3px;
}

.jimu-widget-myInfographic-setting .style-selector .font-btn {
  width: 30px;
}

.jimu-widget-myInfographic-setting .style-selector .align-btn {
  width: 30px;
}

.jimu-widget-myInfographic-setting .style-selector .image-btn {
  width: 120px;
  height: 30px;
  border: 1px solid #D7D7D7;
}

.jimu-widget-myInfographic-setting .style-selector .bold {
  background: url("images/btns/B.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .bold.selected {
  background: url("images/btns/B_selected.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .italic {
  background: url("images/btns/I.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .italic.selected {
  background: url("images/btns/I_selected.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .underline {
  background: url("images/btns/U.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .underline.selected {
  background: url("images/btns/U_selected.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .left {
  background: url("images/btns/left.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .left.selected {
  background: url("images/btns/left_selected.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .center {
  background: url("images/btns/center.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .center.selected {
  background: url("images/btns/center_selected.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .right {
  background: url("images/btns/right.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .right.selected {
  background: url("images/btns/right_selected.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .top {
  background: url("images/btns/top.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .top.selected {
  background: url("images/btns/top_selected.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .middle {
  background: url("images/btns/middle.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .middle.selected {
  background: url("images/btns/middle_selected.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .bottom {
  background: url("images/btns/bottom.svg") no-repeat;
}

.jimu-widget-myInfographic-setting .style-selector .bottom.selected {
  background: url("images/btns/bottom_selected.svg") no-repeat;
}

/* .myInfographic-chart-dijit-setting */
.jimu-widget-myInfographic-setting .jimu-tab3 > .control-node {
  margin-top: 7px;
  margin-bottom: 10px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .padding-right-5 {
  padding-right: 5px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .padding-right-5 {
  padding-left: 5px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .data-section,
.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .display-section,
.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .mark-section {
  max-height: 398px;
  overflow-x: hidden;
  overflow-y: auto;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .jimu-viewstack > .view {
  box-sizing: border-box;
  padding-top: 5px;
  font-size: 12px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .myInfographic-toggle-pocket .toggle-header .title {
  font-size: 12px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .average-align {
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .average-align .jimu-dijit-data-fields {
  width: 99%;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .average-align.value-fields-section-item {
  align-items: flex-start;
  margin-top: 6px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .average-align.value-fields-section-item .jimu-dijit-data-fields .field-item > span {
  max-width: 130px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .average-align > * {
  width: 50%;
  flex: 0 0 50%;
}

/* chart-color-setting */
.jimu-widget-myInfographic-setting .chart-color-setting {
  display: inline-block;
}

.jimu-widget-myInfographic-setting .chart-color-setting span.dijitSelectLabel {
  width: 100%;
}

.jimu-widget-myInfographic-setting .chart-color-setting .jimu-color-picker {
  width: 30px;
  height: 20px;
}

/* myInfographic-chart-sort */
.jimu-widget-myInfographic-setting .myInfographic-chart-sort .hide {
  display: none !important;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .marginLeft13 {
  margin-left: 13px;
}

.jimu-rtl .jimu-widget-myInfographic-setting .myInfographic-chart-sort .marginLeft13 {
  margin-right: 13px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .radio-div {
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .flex-sb-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .flex-left-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .flex-left-center label {
  font-size: 12px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .sort-icon {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .axis-tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .asc.selected {
  background: no-repeat center center url(./images/acs_active.svg);
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .asc {
  background: no-repeat center center url(./images/acs_deactive.svg);
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .desc.selected {
  background: no-repeat center center url(./images/desc_active.svg);
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .desc {
  background: no-repeat center center url(./images/desc_deactive.svg);
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .sort-filed {
  width: 100%;
  flex: 0 0 50%;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .sort-div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* myInfographic-chart-sort update at 5.4 */
.jimu-widget-myInfographic-setting .myInfographic-chart-sort .down-select-div {
  flex: 1 0 70%;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-sort .z-axis-container {
  flex: 0 1 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*  date field for 2 3 mode */
.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .section-item .format-div {
  display: flex;
  flex-direction: column;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .section-item .format-div .date-time-format-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 50%;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .section-item .format-div .date-time-format-div .date-time-label {
  width: 30%;
  flex: 0 0 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .section-item .format-div .date-time-format-div .format-select {
  width: 61%;
  flex: 0 0 60%;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .section-item .tb-radio-div {
  display: flex;
  flex-direction: column;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .section-item .lr-radio-label-div {
  display: flex;
  align-items: center;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .tb-radio-label {
  max-width: 80%;
  font-size: 12px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .tb-flex {
  display: flex;
  flex-direction: column;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .check-label {
  max-width: 175px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .dijitRadio {
  margin: 0px;
}

.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .dijitNumberTextBox.dijitSpinner {
  width: 100%;
}

/* visible slider bar */
.jimu-widget-myInfographic-setting .myInfographic-chart-dijit-setting .myInfographic-visible-sliderbar .dijitSliderButtonContainerH {
  padding: 0px;
}

.jimu-widget-myInfographic-setting .left-label {
  max-width: 100%;
}

/* chart color dijit */
.myInfographic-series-style .text-over {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myInfographic-series-style .radio-label {
  max-width: 160px;
}

.myInfographic-series-style .hide {
  display: none !important;
}

.myInfographic-series-style .top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.myInfographic-series-style .flex-lr-balance {
  flex: 0 0 50%;
}

.myInfographic-series-style .single-radio-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.myInfographic-series-style .single-radio-panel.first-radio {
  margin-top: 7px;
}

.myInfographic-series-style .single-radio-panel.second-radio {
  height: 30px;
}

.myInfographic-series-style .single-radio-panel.third-radio {
  margin-bottom: 7px;
}

.myInfographic-series-style .single-radio-panel.third-radio .toggle-icon-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 16px;
  cursor: pointer;
}

.myInfographic-series-style .single-radio-panel.third-radio .toggle-icon-div .toggle-icon {
  width: 12px;
  height: 7px;
  background: no-repeat center center url(./images/custom-color/arrow-up.svg);
}

.myInfographic-series-style .single-radio-panel.third-radio .toggle-icon-div:hover .toggle-icon {
  background: no-repeat center center url(./images/custom-color/arrow-up-hover.svg);
}

.myInfographic-series-style .single-radio-panel.third-radio .toggle-icon-div .toggle-icon.closed {
  background: no-repeat center center url(./images/custom-color/arrow-down.svg);
}

.myInfographic-series-style .single-radio-panel.third-radio .toggle-icon-div:hover .toggle-icon.closed {
  background: no-repeat center center url(./images/custom-color/arrow-down-hover.svg);
}

.myInfographic-series-style .radio-single-color-div {
  align-items: center;
}

.myInfographic-series-style .field-colors {
  width: 100%;
}

/* myInfographic-color-opacity */
.myInfographic-series-style .field-colors .myInfographic-series-style-item .field-name-div {
  max-width: 140px;
}

.myInfographic-series-style .field-colors.indentation .myInfographic-series-style-item .field-name {
  padding-left: 27px;
  padding-right: 0;
}

.jimu-rtl .myInfographic-series-style .field-colors.indentation .myInfographic-series-style-item .field-name {
  padding-right: 27px;
  padding-left: 0;
}

.myInfographic-series-style-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.myInfographic-series-style-item .flex-balance-low {
  flex: 0 1 49%;
}

.myInfographic-series-style-item .flex-balance-shrink1 {
  flex: 0 0 49%;
}

.myInfographic-series-style-item .field-color-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.myInfographic-series-style-item .field-color-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myInfographic-series-style-item .field-color-right .color {
  flex: 1 1 auto;
}

.myInfographic-series-style-item .opacity-slider {
  width: 100px;
  height: 10px;
  background: #000;
}

.myInfographic-series-style-item .opacity {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  flex: 1 1 auto;
}

.myInfographic-series-style-item .flex-fill {
  flex: 0 0 100%;
}

/* myInfographic-series-styles */
.myInfographic-series-styles {
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
}

.myInfographic-series-styles .field-style-list {
  width: 100%;
  min-height: 65px;
  max-height: 155px;
  overflow-x: hidden;
  overflow-y: auto;
}

.myInfographic-series-styles .myInfographic-series-style-item {
  margin: 0 auto 10px auto;
}

.myInfographic-series-style .custom-colors.indentation {
  padding-left: 17px;
  padding-right: 0;
}

.jimu-rtl .myInfographic-series-style .custom-colors.indentation {
  padding-right: 17px;
  padding-left: 0;
}

/* myInfographic-custom-color */
.myInfographic-custom-color .text-label {
  font-size: 12px;
  color: #282828;
}

.myInfographic-custom-color .jimu-color-picker {
  width: 30px;
  height: 20px;
}

.myInfographic-custom-color .header {
  padding-left: 10px;
  padding-right: 0;
}

.jimu-rtl .myInfographic-custom-color .header {
  padding-right: 10px;
  padding-left: 0;
}

.myInfographic-custom-color .header .color-choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 0 10px 0;
}

.ig-setting-ie11 .myInfographic-custom-color .header .color-choose .colors-picker {
  flex: 1 1 55%;
}

.myInfographic-custom-color .header .color-choose .colors-picker {
  flex: 1 1 50%;
}

.ig-setting-ie11 .myInfographic-custom-color .header .color-choose .color-text {
  flex: 1 1 45%;
}

.myInfographic-custom-color .header .color-choose .color-text {
  flex: 1 1 50%;
}

.myInfographic-custom-color .header .color-choose .color-text {
  display: flex;
  align-items: center;
}

.myInfographic-custom-color .bottom {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 0;
}

.jimu-rtl .myInfographic-custom-color .bottom {
  padding-right: 10px;
  padding-left: 0;
}

.myInfographic-custom-color .bottom .add-dispatch {
  height: 30px;
}

.myInfographic-custom-color .bottom .add-dispatch .disptch-div {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
}

.myInfographic-custom-color .bottom .add-dispatch .disptch-div .disptch-add-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-size: contain;
  background: no-repeat center center url(./images/add-icon-deactive.svg);
}

.myInfographic-custom-color .bottom .add-dispatch .disptch-div:hover .disptch-add-icon {
  background: no-repeat center center url(./images/add-icon-active.svg);
}

.myInfographic-custom-color .bottom .add-dispatch .disptch-div .disptch-add-text {
  width: auto;
  color: #282828;
  font-style: italic;
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
}

.jimu-rtl .myInfographic-custom-color .bottom .add-dispatch .disptch-div .disptch-add-text {
  margin-left: auto;
  margin-right: 10px;
}

.myInfographic-custom-color .bottom .add-dispatch .disptch-div:hover .disptch-add-text {
  color: #24B5CC;
}

.myInfographic-custom-color .bottom .add-action {
  width: 100%;
  display: flex;
  align-items: center;
}

.myInfographic-custom-color .bottom .add-action .category-tip {
  flex: 1 1 auto;
  width: calc(100% - 270px);
  max-width: 87px;
}

.myInfographic-custom-color .bottom .add-action .add-action-div {
  width: 270px;
  display: flex;
  align-items: center;
  height: 30px;
}

.myInfographic-custom-color .bottom .add-action .select-input {
  width: 150px;
}

.myInfographic-custom-color .bottom .add-action .add-action-div .color-div {
  width: 30px;
  height: 20px;
  margin: auto 3px auto 10px;
}

.jimu-rtl .myInfographic-custom-color .bottom .add-action .add-action-div .color-div {
  margin: auto 10px auto 3px;
}

.myInfographic-custom-color .bottom .add-action .action-button-container {
  width: 25px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myInfographic-custom-color .bottom .add-action .action-button-container .action-btn {
  width: 14px;
  height: 14px;
  background-size: contain;
}

.myInfographic-custom-color .bottom .add-action .action-button-container .action-btn.add-btn {
  background: no-repeat center center url(./images/custom-color/ensure.svg);
}

.myInfographic-custom-color .bottom .add-action .action-button-container:hover .action-btn.add-btn {
  background: no-repeat center center url(./images/custom-color/ensure-hover.svg);
}

.myInfographic-custom-color .bottom .add-action .action-button-container .action-btn.cancel-btn {
  background: no-repeat center center url(./images/custom-color/delete.svg);
}

.myInfographic-custom-color .bottom .add-action .action-button-container:hover .action-btn.cancel-btn {
  background: no-repeat center center url(./images/custom-color/delete-hover.svg);
}

.myInfographic-custom-color .bottom .hide {
  display: none !important;
}

.myInfographic-custom-color .content {
  width: 100%;
  margin-top: 10px;
}

/* myInfographic-custom-color-list */
.myInfographic-custom-color-list  .costom-color-list-header {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 0;
}

.jimu-rtl .myInfographic-custom-color-list  .costom-color-list-header {
  padding-right: 10px;
  padding-left: 0;
}

.myInfographic-custom-color-list  .costom-color-list-header > div {
  font-size: 12px;
  color: #282828;
  font-family: "Avenir Medium";
}

.myInfographic-custom-color-list  .costom-color-list-header > div:first-child {
  width: calc(100% - 220px)
}

.myInfographic-custom-color-list  .costom-color-list-header > div:nth-child(2) {
  width: 166px;
}

/* myInfographic-custom-color-item */
.myInfographic-custom-color-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 27px;
  padding-left: 10px;
  padding-right: 0;
}

.myInfographic-custom-color-item.high-light {
  background: #EFEFEF;
}

.jimu-rtl .myInfographic-custom-color-item {
  padding-right: 10px;
  padding-left: 0;
}

.myInfographic-custom-color-item .hide {
  display: none;
}

.myInfographic-custom-color-item .hidden {
  visibility: hidden;
}

.myInfographic-custom-color-item .margin-left-10 {
  margin-left: 10px;
  margin-right: 0;
}

.jimu-rtl .myInfographic-custom-color-item .margin-left-10 {
  margin-left: 0;
  margin-right: 10px;
}

.myInfographic-custom-color-item  .delete-icon {
  width: 10px;
  height: 10px;
  background: no-repeat center center url(./images/custom-color/delete.svg);
  cursor: pointer;
}

.myInfographic-custom-color-item  .delete-icon:hover {
  background: no-repeat center center url(./images/custom-color/delete-hover.svg);
}

.myInfographic-custom-color-item  .text-container {
  display: flex;
  align-items: center;
  width: calc(100% - 220px);
  flex: 1 1 calc(100% - 220px);
  max-width: 154px;
  height: 27px;
}

.ig-setting-ff .myInfographic-custom-color-item  .text-container {
  max-width: 143px;
}

.myInfographic-custom-color-item  .text-container .category-text-div {
  max-width: 95%;
}

.myInfographic-custom-color-item  .label-container {
  display: flex;
  align-items: center;
  max-width: 150px;
  flex: 0 0 150px;
}

.myInfographic-custom-color-item  .label-container .text-div {
  max-width: 100%;
}

.myInfographic-custom-color-item  .label-container .label-part {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: text;
}

.myInfographic-custom-color-item  .label-container .label-part .label-div {
  width: 100%;
  height: 27px;
  display: flex;
  align-items: center;
}

.myInfographic-custom-color-item  .label-container .label-part .label-div:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

.myInfographic-custom-color-item  .label-container .edit-part {
  display: flex;
  align-items: center;
}

.myInfographic-custom-color-item  .label-container .edit-part .edit-input {
  width: 150px;
  height: 27px;
}

.myInfographic-custom-color-item  .label-container .edit-part .dijitTextBox .dijitInputInner {
  height: 25px;
  line-height: 25px !important;
}

.myInfographic-custom-color-item  .label-container .edit-part .dijitTextBox .dijitInputField {
  padding: 0 2px;
  height: 25px;
}

.myInfographic-custom-color-item  .action-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 70px;
  flex: 0 0 70px;
}

.myInfographic-custom-color-item  .action-container .color-div {
  width: 30px;
  height: 20px;
  margin-right: 13px;
}

.jimu-rtl .myInfographic-custom-color-item  .action-container .color-div {
  margin-right: 0;
  margin-left: 13px;
}

.myInfographic-custom-color-item  .action-container .color-div .jimu-color-picker {
  width: 30px;
  height: 20px;
}

/* marks */
.myInfographic-setting-marks .mark-add-ct {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
}

.myInfographic-setting-marks .marks-ct {
  margin-top: 10px;
  max-height: 368px;
  padding: 0 5px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.jimu-rtl .myInfographic-setting-marks .marks-ct {
  padding: 0 0 0 5px;
}

.myInfographic-setting-marks .mark-add-ct .mark-add-ct-left,
.myInfographic-setting-marks .mark-add-ct .mark-add-ct-right {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 50%;
}

.myInfographic-setting-marks .mark-add-ct .icon-add-mark {
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-size: contain;
  background: no-repeat center center url(./images/add-icon-deactive.svg);
}

.myInfographic-setting-marks .mark-add-ct .text-add-mark {
  font-style: italic;
  font-size: 12px;
  color: #282828;
  cursor: pointer;
  padding-left: 10px;
  display: block;
  width: 180px;
}

.jimu-rtl .myInfographic-setting-marks .mark-add-ct .text-add-mark {
  padding-right: 10px;
}

.myInfographic-setting-marks .mark-add-ct .mark-add-ct-left:hover .icon-add-mark {
  background: no-repeat center center url(./images/add-icon-active.svg);
}

.myInfographic-setting-marks .mark-add-ct .mark-add-ct-left:hover .text-add-mark {
  color: #24b5cc;
}

.myInfographic-setting-marks .mark-add-ct .mark-add-ct-right:hover .icon-add-mark {
  background: no-repeat center center url(./images/add-icon-active.svg);
}

.myInfographic-setting-marks .mark-add-ct .mark-add-ct-right:hover .text-add-mark {
  color: #24b5cc;
}

/* myInfographic-setting-mark-line */
.myInfographic-setting-marks .mark-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.myInfographic-setting-marks .mark-row .mark-select-width {
  width: 100%;
}

.myInfographic-setting-marks .mark-row .mark-col {
  flex: 0 0 50%;
  max-width: 50%;
}

.myInfographic-setting-marks .mark-row .mark-col .mark-input {
  width: 100%;
}

.myInfographic-setting-marks .mark-row .flex-center-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myInfographic-setting-marks .mark-row .mark-col .box {
  height: 30px;
}

.myInfographic-setting-marks .mark-row .mark-col .box.box-3 {
  flex: 0 0 33.34%;
  max-width: 33.34%;
}

.myInfographic-setting-marks .mark-row .mark-col .box.box-2 {
  flex: 0 0 50%;
  max-width: 50%;
}

.myInfographic-setting-marks .mark-row .mark-col .box.box-style {
  border: 1px solid #D7D7D7;
  text-align: center;
  cursor: pointer;
  color: #282828;
  font-size: 12px;
  background: #FFFFFF;
}

.jimu-rtl .myInfographic-setting-marks .mark-row .mark-col .line-pos > .box.box-style:first-child {
  border-style: solid;
  border-left-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  border-color: #D7D7D7;
}

.myInfographic-setting-marks .mark-row .mark-col .line-pos > .box.box-style:first-child {
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 0;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #D7D7D7;
}

.myInfographic-setting-marks .mark-row .mark-col .line-pos > .box.box-style:last-child {
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 0;
  border-color: #D7D7D7;
}

.jimu-rtl .myInfographic-setting-marks .mark-row .mark-col .line-pos > .box.box-style:last-child {
  border-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 0;
  border-color: #D7D7D7;
}

.myInfographic-setting-marks .mark-row .mark-col .box.box-style.selected {
  background: #24B5CC;
  border: none;
  color: #FFFFFF;
}

.myInfographic-setting-marks .mark-row .mark-col .box.box-style:hover {
  color: #0090A8;
}

.myInfographic-setting-marks .mark-row .mark-col .box.box-style.selected:hover {
  color: #FFFFFF;
}

.myInfographic-setting-marks .mark-row .mark-col .box.clear-left-border {
  margin-left: -1px;
}

.jimu-rtl .myInfographic-setting-marks .mark-row .mark-col .box.clear-left-border {
  margin-left: auto;
  margin-right: -1px;
}

.myInfographic-setting-marks .mark-row .mark-col .text-2-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.myInfographic-setting-marks .mark-row .mark-col .text-2-text .text-2 {
  flex: 0 0 40%;
}

.myInfographic-setting-marks .mark-row .mark-col .text-2-text .t-to-t {
  font-size: 12px;
  color: #727272;
  max-width: 20px;
  flex: 0 0 20%;
}

.myInfographic-setting-marks .mark-row .mark-col .left-pos {
  flex: 0 0 50%;
}

.myInfographic-setting-marks .mark-row .mark-col .right-loc {
  flex: 0 0 40%;
  max-width: 40%;
}

.myInfographic-setting-marks .mark-row .mark-col .left-clr {
  flex: 0 0 15%;
}

.myInfographic-setting-marks .mark-row .mark-col .right-opa {
  flex: 0 0 70%;
}

/* myInfographic-setting-mark */
.myInfographic-setting-marks .marks-ct .myInfographic-setting-mark:last-child .header.close {
  border: 1px solid #DFDFDF;
}

.myInfographic-setting-mark .header {
  width: 100%;
  height: 30px;
  font-size: 14px;
  background: #F0F0F0;
  border: 1px solid #DFDFDF;
  padding-left: 10px;
  padding-right: 0;
  cursor: pointer;
}

.jimu-rtl .myInfographic-setting-mark .header {
  padding-left: 0;
  padding-right: 10px;
}

.myInfographic-setting-mark .header.close {
  border-color: #DFDFDF;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
}

.myInfographic-setting-mark .fx-sa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.myInfographic-setting-mark .fx-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.myInfographic-setting-mark .header .text {
  flex: 0 0 85%;
  max-width: 85%;
  display: block;
}

.myInfographic-setting-mark .header .actions {
  flex: 0 0 15%;
}

.myInfographic-setting-mark .header .actions .icon-ct {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.myInfographic-setting-mark .hide {
  display: none !important;
}

.myInfographic-setting-mark .header .actions .icon-ct.arrow-down {
  background: no-repeat center center url(./images/custom-color/arrow-down.svg);
}

.myInfographic-setting-mark .header .actions .icon-ct.arrow-down:hover {
  background: no-repeat center center url(./images/custom-color/arrow-down-hover.svg);
}

.myInfographic-setting-mark .header .actions .icon-ct.arrow-up {
  background: no-repeat center center url(./images/custom-color/arrow-up.svg);
}

.myInfographic-setting-mark .header .actions .icon-ct.arrow-up:hover {
  background: no-repeat center center url(./images/custom-color/arrow-up-hover.svg);
}

.myInfographic-setting-mark .header .actions .icon-ct.delete {
  background: no-repeat center center url(./images/close.svg);
}

.myInfographic-setting-mark .header .actions .icon-ct.delete:hover {
  background: no-repeat center center url(./images/close-mouseover.svg);
}

.myInfographic-setting-mark .mark-dash-type span.dijitSelectLabel {
  width: 100%;
}

/* infograpgic-range-provider */
.infograpgic-range-provider .hide {
  display: none !important;
}

.infograpgic-range-provider .title,
.infograpgic-value-provider .title {
  font-family: "Avenir Medium";
  color: #282828;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  display: flex;
  align-items: center;
}

.infograpgic-range-provider .row {
  display: flex;
  align-items: center;
}

.infograpgic-range-provider .col-2 {
  flex: 0 0 50%;
}

.infograpgic-range-provider .label {
  font-size: 12px;
  color: #282828;
}

.infograpgic-range-provider .content,
.infograpgic-value-provider .content {
  overflow-x: hidden;
  overflow-y: auto;
}

.infograpgic-range-provider .value-input {
  width: 99%;
}

.infograpgic-range-provider .value-type {
  margin: 0 0 12px 0;
}

.infograpgic-range-provider .btn-group-2 {
  display: flex;
  align-self: center;
}

.infograpgic-range-provider .btn {
  width: 80px;
  height: 30px;
  border: 1px solid #D7D7D7;
  cursor: pointer;
  color: #282828;
  font-size: 12px;
  background: #FFFFFF;
}

.infograpgic-range-provider .btn.selected {
  background: #24B5CC;
  border: none;
  color: #FFFFFF;
}

.infograpgic-range-provider .btn-group-2 .btn:first-child {
  border-right: none;
}

.jimu-rtl .infograpgic-range-provider .btn-group-2 .btn:first-child {
  border-left: none;
  border-right: 1px solid #D7D7D7;
}

/* myInfographic-field-statistics */
.myInfographic-field-statistics .hide {
  display: none !important;
}

.myInfographic-field-statistics .row {
  display: flex;
  align-items: center;
}

.myInfographic-field-statistics .row.stat-row {
  margin: 0 0 10px 0;
}

.myInfographic-field-statistics .col-2 {
  flex: 0 0 50%;
}

.myInfographic-field-statistics .label {
  font-size: 12px;
  color: #282828;
}

.jimu-statistic-data-source-selector {
  height: 70px;
  position: relative;
}

.jimu-statistic-data-source-selector .message {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 12px;
  color: #000000;
}

.jimu-statistic-data-source-selector .state-icon {
  position: absolute;
  right: 25px;
  top: 38px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.jimu-rtl .jimu-statistic-data-source-selector .state-icon {
  left: 25px;
  right: auto;
}

.myInfographic-toggle-button .toggle {
  width: 38px;
  height: 18px;
  cursor: pointer;
}

.myInfographic-toggle-button .toggle.toggle-on {
  background: no-repeat center left url(./images/toggle_on_builder.svg);
}

.myInfographic-toggle-button .toggle.toggle-off {
  background: no-repeat center left url(./images/toggle_off_builder.svg);
}
